/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
	padding-bottom: 40px;
	color: #5a5a5a;
	font-family: "Open Sans", "helvetica", sans-serif;
	font-size: medium;
}

@media (min-width: 1200px) {
	.container {
		width: 970px;
	}
}

.jumbotron {
	background-color: #960C22;
}
.main_heading {
	font-family: "Roboto Slab", "Avenir", "sans-serif";
	font-size: 3em;
	font-weight: 500;
	color: #fff;
}
/* hack so that the main heading looks better on a phone */
@media (max-width: 400px) {
	.main_heading {
		font-size: 2.2em;
	}
}

.first-description {
	color:  #FFF9D9;
	font-size: 1.2em;
	font-weight: 400;
}

.breakpoint {
	display: inline-block;
}

ol.publist li {
	margin: 10px 0;
}

.subheading {
	color: #45484a; /*#960c22;*/
	font-size: 1.5em;
	font-weight: 600;
	font-family: "Roboto Slab", "Avenir", "sans-serif";
	margin-top: 15px;
	margin-bottom: 10px;
}

.subsubheading {
	font-weight: 600;
	margin-left: -40px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: sans-serif;
	color: #006699;
}

:link {
	color: #00866C;
	text-decoration: none;
	background-color: inherit;
	font-weight: 600;
}
:visited {
	color: #00866C;
	text-decoration: none;
	background-color: inherit;
}